.table-container {
    padding: 20px;
    margin: 40px auto;
    border-radius: 8px;
    background-color: #fff;
    /* border:1px solid black; */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.table-container th, 
.table-conatiner td{
    border: 1px solid black; 
    padding: 10px;         
    text-align: center;  
}