

#container{
  max-width: 500px;
  margin: 50px auto;
  background-color: white;
  border-radius: 20px;
  background-color: rgb(228, 224, 224);
  padding: 2rem;
  text-align: center;
  font-family:"Poppins",Arial, Helvetica, sans-serif;

}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

#about img{
  width: 120px;
  height: 120px;
  border-radius: 50%;

}
#name{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}
#desc{
  font-size: 0.9rem;
  color: #9b9494;
  margin: 0 0 1.5rem 0;
}

#description p{
  font-size: 1rem;
  color: #212020;
  line-height: 1.5;
}

button{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius:10px;
    font-size: bold;
    cursor: pointer;
}