.modal-container{
  background: rgba(163, 158, 158, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2{
    font-size: 20px;
    text-align:center;
}
.modal-Box{
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
}

.modal-Box input{
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.amounts{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  
}

.amounts button{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  
  color:black ;
  cursor: pointer;
}

.amt-btn{
    background: #f5f5f5;
}

.note{
  font-size: 12px;
  color: #666;
  margin: 10px 0;
}

.input-amount{
  margin-top: 10px;
}

.donate-btn{
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.checkbox{
  display: flex;
  font-size: 12px;
  margin-top: 10px;
  gap: 10px;
 
}

.checkbox input{
  margin-top: 3px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox span{
  line-height: 1.4;
  
}


