#navbar{
    background-color: rgb(2, 64, 64);
     padding: 0.5rem 1rem;
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

#navbar .options{
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
   padding: 1rem;
}
#navbar .options:hover{
  color: #ffcc00; 
}